      <div class="titlerow">
        <h1>Internal Systems</h1>

        <h3 class="clear statusheader">Current Status</h3>

        <h3 class="notesheader">Notes</h3>

        <h3 class="rssheader">RSS</h3>
      </div>

<% @systems.each do |system| %>
      <div class="row">
        <div class="selectors hidden" id="selector0">
			<%= system.status %>
        </div><img class="states status0" src="http://andstone/server_status/images/ok.gif" />

        <div class="names">
			<%= system.name %>
        </div>

        <div class="notes">
			<%= system.note %>
			&mdash; <%= time_ago_in_words(system.updated_at) %>
        </div>

        <div class="rss">
          <a href="0.rss"><img src="http://andstone/server_status/images/feed.png" /></a>
        </div>

        <div class="editnotes">
			<%= link_to 'Edit', edit_system_path(system) %>
        </div>
      </div>
<% end %>

      <div id="controls">
		<%= link_to 'New System', new_system_path %>
      </div>

