<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @system.name %>
</p>

<p>
  <b>Status:</b>
  <%= @system.status %>
</p>

<p>
  <b>Note:</b>
  <%= @system.note %>
</p>


<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
